<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
    <title>Update Student: </title>
</head>
<body>
<form method="post" th:action="@{/updated}" th:object="${student}">
    <input type="hidden" th:field="*{id}">
    <div class="form-group">
        <label>First Name:</label>
        <input th:field ="*{firstName}" class="form-control" type="text"/>
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <input th:field ="*{lastName}"  class="form-control" type="text"/>
    </div>
    <div class="form-group">
        <label>E Mail:</label>
        <input th:field="*{email}" class="form-control" type="email"/><br/>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>
</body>
</html>
